.flex-row{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.tag {
	border-width:1.5px; 
	border-style:solid; 
	border-radius:0.5em; 
	padding: 0.4em 0.8em;
	border-color:rgba(0, 0, 0, .16); 
	font-size: 0.8em;
	display: inline-block;
}

.tag-active {
	background-color:#3176d9; 
	color:rgba(255, 255, 255, .84);
}
.tag-active:hover {
	color:white;
}

.tag-inactive {
	background-color:#dedede; 
	color:rgba(0, 0, 0, .48);
}